<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 form-group">
            <div class="kish-container">
                <h3 class="text-center">Filters</h3>

                <label>
                    <input type="checkbox" ng-model="model.filters.movie"> Movie
                </label>
                &nbsp;
                <label>
                    <input type="checkbox" ng-model="model.filters.series"> Series
                </label><br>
                <label> Year</label>
                <input type="text" class="form-control" ng-model="model.filters.year">
                <label> Genre</label>
                <input type="text" class="form-control" ng-model="model.filters.genre" placeholder="seperate entries by a space">

            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div>
                <h3 class="text-center">Sort</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" ng-model="model.sort" value="year"> Year
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" ng-model="model.sort" value="imdbRatings"> IMDB Ratings
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" ng-model="model.sort" value="imdbVotes"> IMDB Votes
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a role="button" class="btn btn-block btn-success" ng-click="model.browse()">Browse</a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Year</th>
                <th>IMDB Ratings</th>
                <th>IMDB Votes</th>
                <th>Genre</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in model.results">
                    <td>{{++(model.start)}}</td>
                    <td><img ng-src="{{model.Poster}}"></td>
                    <td>{{model.Title}}</td>
                    <td>{{model.Year}}</td>
                    <td>{{model.IMDBRatings}}</td>
                    <td>{{model.IMDBVotes}}</td>
                    <td>{{model.Genre}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>